# A fer la mar toda la carpeta
images/**

# - Rótulo Principal
!images/readme-img-jew.png

# - Expo de las recompensas en joyas disponible
!images/Shappire-100.jpg
!images/Tanzanite-100.jpg
!images/Emerald-100.jpg
!images/Ruby-100.jpg
!images/Alexandrite-100.jpg
!images/Serendibite-100.jpg
!images/Diamond-100.jpg
!images/Grandidierite-100.jpg
!images/Benitoite-100.jpg
!images/Unknown-100.jpg

# - Woman's Secret IA modelss
!images/masterpiece-royal-gem-1.jpg
!images/masterpiece-royal-gem-2.jpg
!images/masterpiece-royal-gem-3.jpg
!images/masterpiece-royal-gem-4.jpg
!images/masterpiece-royal-gem-5.jpg
!images/masterpiece-royal-gem-6.jpg

# - Logos
!images/logo-conancos.png
!images/768-cashRegister-7.jpg

# - Img XL para README.md
!images/sophisticated-machine-that-dispenses-jewels.jpg